interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/collection/amheq?page=1
  response:
    body: {string: '{"success":"true","data":[{"title":"Google Now Inspired Flip Cards","details":"<p>Google
        Now style info cards with CSS card flip animation. </p>","link":"https://codepen.io/ettrics/pen/zxMPWj","id":"zxMPWj","views":"26,740","loves":"399","comments":"1","images":{"small":"http://codepen.io/ettrics/pen/zxMPWj/image/small.png","large":"http://codepen.io/ettrics/pen/zxMPWj/image/large.png"},"user":{"nicename":"Ettrics","username":"ettrics","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/profile/profile-80.jpg?5"}},{"title":"Material
        Input Field","details":"","link":"https://codepen.io/developit/pen/bEPoQR","id":"bEPoQR","views":"6,812","loves":"49","comments":"2","images":{"small":"http://codepen.io/developit/pen/bEPoQR/image/small.png","large":"http://codepen.io/developit/pen/bEPoQR/image/large.png"},"user":{"nicename":"Jason
        Miller","username":"developit","avatar":"https://gravatar.com/avatar/85ed8e6da2fbf39a[...]
