interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/collections/popular?page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"Form Designs","details":"<p>&quot;Design
        is easy. All you do is stare at the screen until drops of blood form on your
        forehead.&quot; &#x2014; Marty Neumeier</p>","id":"KuDsH","url":"http://codepen.io/collection/KuDsH","penCount":"108
        Pens","loves":"298","views":"116,036","user":{"nicename":"CodePen","username":"team/codepen","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1/profile/profile-80.jpg?100000","profileUrl":"http://codepen.io/team/codepen"}},{"title":"Float
        Labels","details":"<p>Get out of the way, label!</p>","id":"IjFib","url":"http://codepen.io/collection/IjFib","penCount":"40
        Pens","loves":"166","views":"97,376","user":{"nicename":"Chris Coyier","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80.jpg?48","profileUrl":"http://codepen.io/chriscoyier"}},{"title":"Angular
        Material Apps","details":"<p>Demo apps for getting star[...]
