interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/following/connorkendrick
  response:
    body: {string: '{"success":"true","data":[{"nicename":"Chris Coyier","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80.jpg?48","url":"http://codepen.io/chriscoyier"},{"nicename":"Mombasa","username":"Mombasa","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/33170/profile/profile-80.jpg?11","url":"http://codepen.io/Mombasa"},{"nicename":"Rachel
        Smith","username":"rachsmith","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/profile/profile-80.jpg?100000","url":"http://codepen.io/rachsmith"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"223-KL3Fi/zD9PxkDt5IZgQgcRrBnqI"]
    status: {code: 200, message: OK}
version: 1
