interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/following/chriscoyier?page=2
  response:
    body: {string: '{"success":"true","data":[{"nicename":"Craig Fox","username":"craigwfox","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/2222/profile/profile-80.jpg?3","url":"http://codepen.io/craigwfox"},{"nicename":"Rplus","username":"Rplus","avatar":"https://gravatar.com/avatar/2f05bf6d4b5970b9d4ae18fc4664add0?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png","url":"http://codepen.io/Rplus"},{"nicename":"Chris
        Caldwell","username":"chriscaldwell","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/17682/profile/profile-80.jpg?2","url":"http://codepen.io/chriscaldwell"},{"nic[...]
