interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/followers/chriscoyier?page=2
  response:
    body: {string: '{"success":"true","data":[{"nicename":"Michael E Conroy","username":"m-e-conroy","avatar":"https://gravatar.com/avatar/0c517fb82d1970654ba6e41cee2c6ac5?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png","url":"http://codepen.io/m-e-conroy"},{"nicename":"A.J.
        Liptak","username":"AJamesL","avatar":"https://gravatar.com/avatar/50f24afd0733a4057a8ec8231f75c053?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png","url":"http://codepen.io/AJamesL"},{"nicename":"Vikas
        Parashar","username":"vikas-parashar","avatar":"https://gravatar.com/avatar/afe5995cd93ca8f5180b816135b5578d?s=80&d=https://codepen.io/assets/avatars/u[...]
