interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/pens/popular?page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"MENU TRANSFORMATION","details":"","link":"https://codepen.io/Anna_Batura/pen/qPVPVZ","id":"qPVPVZ","views":"2,079","loves":"63","comments":"0","images":{"small":"http://codepen.io/Anna_Batura/pen/qPVPVZ/image/small.png","large":"http://codepen.io/Anna_Batura/pen/qPVPVZ/image/large.png"},"user":{"nicename":"@BrawadaCom","username":"Anna_Batura","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/370061/profile/profile-80.jpg?3"}},{"title":"torus
        twist with three.js","details":"<p><a href=\"https://www.youtube.com/watch?v=jvL9_Rj9fTc\">Watch
        me code this in 30 minutes</a> (you can also speed it up if you feel I&apos;m
        typing/ speaking too slow).  My 2nd time recording myself coding a three.js
        thing. If you have questions of suggestions, let me know. Cross-browser (you
        have no idea how good it feels to p[...]
