interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/tag/css?page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"Silky Smooth Navigation","details":"<p>A
        very light style navigation with subtle gradients, transitions, and text blur.</p><p>This
        was an entry for a WebDesign Tuts post here: <a href=\"http://webdesign.tutsplus.com/articles/workshops/community-project-style-an-unordered-list/\"
        target=\"_blank\">http://webdesign.tutsplus.com/articles/workshops/community-project-style-an-unordered-list/</a></p>","link":"https://codepen.io/jackrugile/pen/BGxgw","id":"BGxgw","views":"3,964","loves":"50","comments":"1","images":{"small":"http://codepen.io/jackrugile/pen/BGxgw/image/small.png","large":"http://codepen.io/jackrugile/pen/BGxgw/image/large.png"},"user":{"nicename":"Jack
        Rugile","username":"jackrugile","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/profile/profile-80.jpg?1502076804"}},{"title":"Ratio
        box","details":"<p>Keep width/height ratio whatever width value is.</p>","link":"https://codepen.io/Diablohu/pen/nszkp","id":"nszkp","views":"596","loves":"","comments":"0","images":{"small":"http://codepen.io/Diablohu/pen/nszkp/image/small.png","large":"http://codepen.io/Diablohu/pen/nszkp/image/large.png"},"user":{"nicename":"Diablohu","username":"Diablohu","avatar":"https://s3-us-wes[...]
