interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/posts/popular?page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"Me and SVG","content":"<p>For
        the past three-and-a-half years of my life, I have devoted a large portion
        of my time and creativity to the creature known as SVG. Whether that was a
        good choice or not, I do not know. But here I am. However, I&apos;m not really
        sure where I&apos;m going to go next. And I&apos;m even less sure where SVG
        is going next. So I sat down to write out my thoughts about the future of
        SVG, and instead wrote about how I came to be so tangled up with it.</p><p>[[[pen
        slug-hash=&apos;oXxWpr&apos;...</p>","link":"https://codepen.io/AmeliaBR/post/me-and-svg","views":"81,257","loves":"123","comments":"32","user":{"nicename":"Amelia
        Bellamy-Royds","username":"AmeliaBR","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/profile/profile-80.jpg?3"}},{"title":"Flexbox:
        Don&apos;t Forget about flex-shrink","content":"<p>As I learned flexbox, I
        was captivated by the way items grow to fit their container. But, recently
        I&apos;ve realized its just as important to think about the way items shrink.
        Let me show you what...</p>","link":"https://codepen.io/noahblon/post/practical-guide-to-flexbox-dont-forget-about-flex-shrink","views":"78,696","loves":"107","comments":"10","user":{"nicename":"Noah
        Blon","username":"noahblon","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/profile/profile-80.jpg?100000"}},{"title":"An
        Intro to SVG Animation with SMIL","content":"<p><a href=\"http://www.sitepoint.com/challenge-1-recreate-gif-css/\"
        title=\"link to Sitepoint article\">Sitepoint</a> recently posed a challenge
        to recreate this fun gif animation in code:</p><div>\n  \n</div><p>It looks
        deceptively simple, but it&apos;s hard to do without a lot of keyframes. My
        mind jumped to SVG, and I&apos;ve...</p>","link":"https://codepen.io/noahblon/post/an-intro-to-svg-animation-with-smil","views":"72,978","loves":"279","comments":"41","user":{"nicename":"Noah
        Blon","username":"noahblon","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/profile/profile-80.jpg?100000"}},{"title":"Optimizing
        SVGs in data URIs","content":"<p>Awhile back, <a href=\"https://css-tricks.com/probably-dont-base64-svg/\">CSS-Tricks
        posted &#x201C;Probably Don&apos;t Base64 SVG&#x201D;</a>, which concluded
        that SVGs in <code>data:</code> URIs are smaller used as-is instead of base64-encoded.</p><p>It&#x2019;s
        got the right idea, but there are a few...</p>","link":"https://codepen.io/tigt/post/optimizing-svgs-in-data-uris","views":"72,927","loves":"112","comments":"29","user":{"nicename":"Taylor
        Hunt","username":"tigt","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/183091/profile/profile-80.jpg?1"}},{"title":"Flexbox:
        space-between, Flexbox&apos;s Unsung Hero","content":"<p>The more I use flexbox,
        the more one rule comes up over and over again: <code>justify-content: space-between</code>.
        In this post, I&apos;ll demonstrate how I approach a layout problem with flexbox
        and how...</p>","link":"https://codepen.io/noahblon/post/a-practical-guide-to-flexbox-understanding-space-between-the-unsung-hero","views":"56,209","loves":"73","comments":"7","user":{"nicename":"Noah
        Blon","username":"noahblon","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/profile/profile-80.jpg?100000"}},{"title":"Some
        Mini Sass Mixins I Like","content":"<p>There is one block of CSS that I find
        myself writing <em>all the time</em>. It&apos;s this:</p><pre>\n  <code>position:
        absolute;top: 0;left: 0;width: 100%;height: 100%;</code>\n</pre><p>The ol&apos;
        <strong>cover e-v-e-r-y-t-i-n-g</strong> block. That&apos;s the...</p>","link":"https://codepen.io/chriscoyier/post/some-mini-sass-mixins-i-like","views":"52,825","loves":"141","comments":"31","user":{"nicename":"Chris
        Coyier","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80.jpg?48"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"f1d-D5LSPFqKmXQSvIa2olkl9Z920rg"]
    status: {code: 200, message: OK}
version: 1
