interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/search/posts?q=CSS&page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"A (Closeable) &lt;noscript&gt;
        Warning Modal","content":"<p>Here on CodePen we display a modal window (just
        like the one you just had to close to read this) to users with JavaScript
        turned off. We like to make it very clear that CodePen isn&apos;t a terribly
        wonderful site without it, but be clear about why. Here&apos;s the real one
        we show:</p><p></p><p>Example Modal</p><p>We recently added that button to
        actually close the modal and overlay. Normally that&apos;s JavaScript territory.
        Bind a click handler, change a class, CSS hides things. But this modal window
        needs to...</p>","link":"https://codepen.io/chriscoyier/post/a-closeable-noscript-warning-modal","views":"13,657","loves":"59","comments":"5","user":{"nicename":"Chris
        Coyier","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80.jpg?48"}},{"title":"Flexbox
        and Intrinsic Sizing - some browser inconsistencies","content":"<p>With IE11
        supporting the CSS Flexible Box Layout Module (Flexbox), I couldn&apos;t wait
        to use Flexbox in production. A homepage redesign for a long-time client was
        a great opportunity to get to...</p>","link":"https://codepen.io/leonderijke/post/flexbox-and-intrinsic-sizing-some-browser-inconsistencies","views":"10,764","loves":"11","comments":"3","user":{"nicename":"Leon
        de Rijke","username":"leonderijke","avatar":"https://gravatar.com/avatar/453def7d74850b12416df7684058a1cf?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"}},{"title":"Customizable
        SVG Icons with CSS Variables","content":"<p>When you re-use SVG graphics with
        the <code>&lt;use&gt;</code> element, it inherits CSS styles from the new
        context. If the graphic you&apos;re re-using applies inherited styles, they
        can be customized in each...</p>","link":"https://codepen.io/AmeliaBR/post/customizable-svg-icons-css-variables","views":"13,393","loves":"31","comments":"0","user":{"nicename":"Amelia
        Bellamy-Royds","username":"AmeliaBR","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/profile/profile-80.jpg?3"}},{"title":"A
        tip f[...]
