interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/search/pens?q=CSS&limit=chriscoyier&page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"Reveal Form Fields as Needed
        with CSS :checked","details":"","link":"https://codepen.io/chriscoyier/pen/LEGXOK","id":"LEGXOK","views":"17,351","loves":"105","comments":"2","images":{"small":"http://codepen.io/chriscoyier/pen/LEGXOK/image/small.png","large":"http://codepen.io/chriscoyier/pen/LEGXOK/image/large.png"},"user":{"nicename":"Chris
        Coyier ","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80.jpg?48"}},{"title":"Double
        Line Subtitles","details":"","link":"https://codepen.io/chriscoyier/pen/zDGkw","id":"zDGkw","views":"14,821","loves":"201","comments":"1","images":{"small":"http://codepen.io/chriscoyier/pen/zDGkw/image/small.png","large":"http://codepen.io/chriscoyier/pen/zDGkw/image/large.png"},"user":{"nicename":"Chris
        Coyier ","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cd[...]
