interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/search/collections?q=CSS&page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"Clocks and Timers","details":"<p>CSS
        or JS Clocks - Yay!</p>","id":"moAia","url":"http://codepen.io/collection/moAia","penCount":"133
        Pens","loves":"87","views":"47,092","user":{"nicename":"Tim Holman","username":"tholman","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/profile/profile-80.jpg?100000","profileUrl":"http://codepen.io/tholman"}},{"title":"Cool
        CSS effects","details":"","id":"wlujb","url":"http://codepen.io/collection/wlujb","penCount":"7
        Pens","loves":"","views":"232","user":{"nicename":"Sam Tsvilik","username":"stsvilik","avatar":"https://gravatar.com/avatar/076dfef244ce593194142a10c15f5924?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png","profileUrl":"http://codepen.io/stsvilik"}},{"title":"UI
[...]
