interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/posts/popular/chriscoyier?page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"Design is Hard: The Considerations
        Behind Resizeable Editors, a Minor Design Feature","content":"<p>We&apos;ve
        just released a new feature in the editor here on CodePen: drag-resizeable
        editors. We wanted you to be able to drag the editors manually to the size
        you want. On paper, that design decision might look incredibly simple:</p><p></p><p>resizeable
        mockup</p><p>In reality though, it&apos;s not so simple.</p><p>How do you
        communicate the draggability?</p><p>Dragging the editor seperators is something
        that you couldn&apos;t do before but you can do now. So how do we let people
        know that? Slack does a nice job of that....</p>","link":"https://codepen.io/chriscoyier/post/design-is-hard","views":"8,956","loves":"71","comments":"14","user":{"username":"chriscoyier"}},{"title":"Examples
        of &lt;animateTransform&gt;","content":"<p>Apparently this exists because
        this is <strong>doesn&apos;t work</strong>:</p><pre>\n  <code>&lt;animate
        attributeName=&quot;transform&quot; from=&quot;rotate(0 60 70)&quot; to=&quot;rotate(360
        60 70)&quot; dur=&quot;10s&quot; /&gt;</code>\n</pre><p>...</p>","link":"https://codepen.io/chriscoyier/post/examples-of-animatetransform","views":"8,082","loves":"11","comments":"4","user":{"username":"chriscoyier"}},{"title":"WordPress
        4.7.1 SVG Upload","content":"<p>Looks like a JANKY fix, what with the exact
        version number in the code there, but for now, this w[...]
