interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/collections/popular/chriscoyier?page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"SVG Fancy Town","details":"<p>Some
        of my favorite stuff done with SVG. Either it demonstrates a concept really
        well, or it does something particularly cool, or it combines things in a way
        that was...</p>","id":"svfAa","url":"http://codepen.io/collection/svfAa","penCount":"324
        Pens","loves":"106","views":"15,639","user":{"username":"chriscoyier"}},{"title":"Responsive
        Tables","details":"","id":"AdGVYP","url":"http://codepen.io/collection/AdGVYP","penCount":"18
        Pens","loves":"135","views":"15,287","user":{"username":"chriscoyier"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"23d-frbk0dlBM7FjVMRSPNzsGihcNM4"]
    status: {code: 200, message: OK}
version: 1
