interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/profile/connorkendrick
  response:
    body: {string: '{"success":"true","data":{"nicename":"Connor Kendrick","username":"connorkendrick","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/538288/profile/profile-512.jpg?100000","location":"Atlanta,
        GA, United States","bio":"","pro":false,"followers":"0","following":"3","links":["https://github.com/connorkendrick"]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"13d-tYsPqd/u0XKqiGa4c1nCUoJy0TI"]
    status: {code: 200, message: OK}
version: 1
