interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/pens/popular/chriscoyier?tag=css&page=2
  response:
    body: {string: '{"success":"true","data":[{"title":"full viewport width image
        (container) inside article","details":"<p>elements like images (or containers)
        break out from inside a wrapper to full viewport width</p>","link":"https://codepen.io/chriscoyier/pen/xOjaYA","id":"xOjaYA","views":"4,471","loves":"143","comments":"1","images":{"small":"http://codepen.io/chriscoyier/pen/xOjaYA/image/small.png","large":"http://codepen.io/chriscoyier/pen/xOjaYA/image/large.png"},"user":{"username":"chriscoyier"}},{"title":"Day
        and night","details":"<p>I am keep learning css animation  and linear gradients.
        \nI know that code is shit, but anyway... my second pen.</p>","link":"https://codepen.io/chriscoyier/pen/yVyKXz","id":"yVyKXz","views":"1","loves":"","comments":"0","images":{"small":"http://codepen.io/chriscoyier/pen/yVyKXz/image/small.png","large":"http://codepen.io/chriscoyier/pen/yVyKXz/image/large.png"},"user":{"username":"chriscoyier"}},{"title":"box-decoration-bre[...]
