interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/tags/chriscoyier?page=2
  response:
    body: {string: '{"success":"true","data":[{"tag":"svg","penCount":"69","link":"http://codepen.io/chriscoyier/pens/tags/?selected_tag=svg","user":"chriscoyier"},{"tag":"css","penCount":"25","link":"http://codepen.io/chriscoyier/pens/tags/?selected_tag=css","user":"chriscoyier"},{"tag":"animation","penCount":"22","link":"http://codepen.io/chriscoyier/pens/tags/?selected_tag=animation","user":"chriscoyier"},{"tag":"center","penCount":"18","link":"http://codepen.io/chriscoyier/pens/tags/?selected_tag=center","user":"chriscoyier"},{"tag":"javascript","penCount":"16","link":"http://codepen.io/chriscoyier/pens/tags/?selected_tag=javascript","us[...]
