interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpv2api.com/profile/chriscoyier
  response:
    body: {string: '{"success":"true","data":{"nicename":"Chris Coyier","username":"chriscoyier","avatar":"https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-512.jpg?48","location":"Milwaukee,
        WI","bio":"I''m kinda into this whole CodePen thing.","pro":true,"followers":"9,116","following":"1,670","links":["https://css-tricks.com","https://twitter.com/chriscoyier","https://dribbble.com/chriscoyier"]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"18a-NPir+GZWPBJ4TZ9G5YswuoWq/NE"]
    status: {code: 200, message: OK}
version: 1
